@page "/links"
@using Paymongo.Sharp.Interfaces
@using Paymongo.Sharp.Core.Enums
@using Paymongo.Sharp.Features.Links.Contracts
@using Paymongo.Sharp.Features.Payments.Entities

@inject IPaymongoClient PaymongoClient
@inject IJSRuntime JsRuntime

<h3>Links</h3>

<button class="btn btn-primary" disabled="@_isProcessing" @onclick="OnPay">Pay with Links API</button>

@if (_isProcessing)
{
    <div class="d-flex flex-row alert alert-secondary mt-3" role="alert">
        <div class="spinner-border text-dark" role="status">
        </div>
        <p class="my-auto mx-2">Waiting for transaction to complete..</p>
    </div>
}
else if (_transactionComplete && _payment is not null)
{
    <div class="alert alert-success mt-3" role="alert">
        Transaction completed! Paid by @_payment.Billing?.Name on @_payment.PaidAt using @_payment.Source?.Type.
    </div>
}

@code {

    private bool _transactionComplete;
    private bool _isProcessing;
    private Payment? _payment;

    async Task OnPay()
    {
        _isProcessing = true;
        Link link = new Link
        {
            Description = "New Link",
            Amount = 100000,
            Currency = Currency.Php
        };

        var linkResult = await PaymongoClient.Links.CreateLinkAsync(link);
        await JsRuntime.InvokeVoidAsync("open", linkResult.CheckoutUrl, "_blank");

        while (true)
        {
            var getLinkResult = await PaymongoClient.Links.RetrieveLinkAsync(linkResult.Id);
            if (getLinkResult.Status is not LinkStatus.Paid) continue;
            
            // Ideally we would want to get the payment with a Paid status,
            // but, the payment status will only be in Pending in the test environment
            _payment = getLinkResult.Payments.First(payment => payment.Status is PaymentStatus.Pending);
            break;
        }

        _transactionComplete = true;
        _isProcessing = false;
    }

}