@inherits LayoutComponentBase

<div class="flex flex-col h-screen">
    <div class="flex flex-col grow">
        @Body
    </div>
    <div class="flex p-4">
        <p class="mx-auto text-sm">Star Paymongo.Sharp on <a class="font-medium text-primary-600 hover:underline" target="_blank" href="https://github.com/russkyc/paymongo-sharp">Github</a>.</p>
    </div>
</div>